// start page title
.row
    .col-12
        .page-title-box
            if options.ds ==="ready"
                .page-title-right.d-none
            else
                .page-title-right
                    div.d-flex
                        .input-group
                            if options.date === ""
                                input#order-daterange.form-control.form-control-light(type='text' name="order")
                            else
                                input#order-daterange.form-control.form-control-light(type='text' name="order" value= options.date)
                            span.input-group-text.bg-light.border-light.text-black
                                i.mdi.mdi-calendar-range.font-13
                        a.btn.btn-primary.ms-2(href=`/?ds=delivered`)
                            i.mdi.mdi-autorenew
            h4.page-title 주문/배달 조회
// end page title
.row
    .col-12
        .card
            .card-body
                .row.mb-2
                    .col-sm-12
                        h6 배달 상태
                        - let temp = "light"
                        a(href="/")
                            if options.ds === "ready"
                                - temp = "success"
                            else
                                - temp = "light"
                            button(id="product-status-filter-option-1" value="product-status-filter-option-1" type="button" class=`btn btn-${temp} rounded-pill m-1`)
                                | 주문 접수 및 배달 준비
                        a(href="/?ds=delivered")
                            if options.ds === "delivered"
                                - temp = "success"
                            else
                                - temp = "light"
                            button(id="product-status-filter-option-2" value="product-status-filter-option-1" type="button" class=`btn btn-${temp} rounded-pill m-1`)
                                | 배달 완료
                table#order-datatable.table.dt-responsove.nowrap.w-100.table-centered.table-hover
                    thead.table-light
                        tr
                            th(style="width: 65px;") 주문 번호
                            th(style="width: 90px;") 날짜
                            th 배달 주소
                            th 이름
                            th 배달 상태
                            th(style='width: 125px;') 주문 상세
                    tbody
                        each order in orders
                            - let price = order.price
                            - price = price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
                            - let timezoneOffset = new Date().getTimezoneOffset() * 60000;
                            - let date = new Date(new Date(order.date) - timezoneOffset)
                            - date = date.toISOString().replace(/T/, ' ').replace(/\..+/, '').substring(2,16)
                            - let orderId = order.order_id
                            - let name = order.name || "-"
                            tr.order(data-order-id = orderId)
                                td.order-id #{orderId}
                                td.order-date
                                    small.text-muted #{date}
                                td.order-shipping-address #{order.shipping_adress}
                                td.order-name #{name}
                                td.order-status
                                    if order.status === 'received'
                                        i.mdi.mdi-circle.text-success
                                        |  주문 접수
                                    else if order.status === 'confirmed'
                                        i.mdi.mdi-circle.text-info
                                        |  배달 준비
                                    else if order.status === 'delivered'
                                        |  배달 완료
                                td.order-detail
                                    button.btn.btn-outline-secondary.rounded-pill(type='button' data-bs-toggle='modal' data-bs-target='#orderDetail-modal' onclick=`openOrderDetailModal(${orderId})`) 주문 상세
// order detail modal
#orderDetail-modal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='standard-modalLabel' aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                h4#orderDetail-modalLabel.modal-title 주문 번호:
                button.btn-close(type='button' data-bs-dismiss='modal' aria-hidden='true')
            .modal-body#orderDetail-modalBody
                .d-flex.justify-content-center
                    .spinner-border.avatar-md(role='status')
            .modal-footer.justify-content-between#orderDetail-modalFooter