// start page title
.row
    .col-12
        .page-title-box
            .page-title-right
                a.btn.btn-primary(href='./addproduct')
                    |  상품 추가
            h4.page-title 상품 관리
// end page title
.row
    .col-12
        .card
            .card-body
                .row.mb-2#product-filter-container
                    .col-sm-12
                        .col-sm-12
                            h6 상품 상태
                            button(value="all" type="button" class="btn btn-success rounded-pill m-1 product-status-option" onclick="checkProductStatusOption(this)") 전체 보기
                            button(value="sale" type="button" class="btn btn-light rounded-pill m-1 product-status-option" onclick="checkProductStatusOption(this)") 판매중
                            button(value="soldOut" type="button" class="btn btn-light rounded-pill m-1 product-status-option" onclick="checkProductStatusOption(this)") 품절
                        .col-sm-12
                            h6 상품 분류
                            span#product-category-container
                            script(type='text/javascript').
                                let category = ['과일', '정육', '채소', '수산/건해산', '쌀/잡곡', '생수/음료', '커피/차', '과자/빙과', '장/양념', '라면/즉석식품', '우유/유제품', '세탁/청소', '제지/위생', '주방', '반려동물']
                                let new_button = ""
                                for (let i=0 ; i<category.length;i++){
                                    new_button += `<button type="button" class="btn btn-light rounded-pill m-1" onclick="clickedProductCategory(this)"> ${category[i]} </button>`
                                }
                                document.querySelector('#product-category-container').innerHTML = new_button

                .table-responsive
                    table#basic-datatable.table.table-centered.w-100.dt-responsive.nowrap
                        thead.table-light
                            tr
                                th(style='width: 70px;') 상태
                                th 분류
                                th 상품
                                th 가격
                                th(style='width: 70px;') 수정/삭제
                        tbody
                            each product in products
                                - let status
                                if product.status
                                    - status = '판매중'
                                else
                                    - status = '품절'
                                - let price = product.price
                                - price = price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')

                                tr
                                    td
                                        if status === '판매중'
                                            span.badge.bg-success.rounded-pill.font-14 #{status}
                                        else
                                            span.badge.bg-danger.rounded-pill.font-14 #{status}
                                    td #{product.category}
                                    td
                                        p.m-0.d-inline-block.align-middle.font-16 #{product.name}
                                    td #{price}원
                                    td.table-action
                                        a.action-icon(href='javascript:void(0);')
                                            i.mdi.mdi-square-edit-outline
                                        a.action-icon(href='javascript:void(0);')
                                            i.mdi.mdi-delete
