// start page title
.row
    .col-12
        .page-title-box
            .page-title-right
                a.btn.btn-primary(href='./products/add')
                    i.mdi.mdi-plus-thick
                    |  상품 추가
            h4.page-title 상품 관리
// end page title
.row
    .col-12
        .card
            .card-body
                .row.mb-2
                    .col-sm-12
                        .col-sm-12
                            h6 상품 상태
                            button(value="all" type="button" class="btn btn-success rounded-pill m-1 product-status-option" onclick="checkProductStatusOption(this)") 전체 보기
                            button(value="sale" type="button" class="btn btn-light rounded-pill m-1 product-status-option" onclick="checkProductStatusOption(this)") 판매중
                            button(value="soldOut" type="button" class="btn btn-light rounded-pill m-1 product-status-option" onclick="checkProductStatusOption(this)") 품절
                        .col-sm-12
                            h6 상품 분류
                            each val, index in ['과일', '정육/계란', '채소', '수산/건해산', '냉장/냉동/간편식', '우유/유제품', '생수/음료/커피', '소스/양념/장', '면/통조림', '세탁/청소/주방', '제지/위생', '과자/빙과', '쌀/잡곡', '반려동물', '김치/반찬', '기타']
                                button.btn.btn-light.rounded-pill.m-1.product-category-option(type="button" value=val onclick="checkProductCategoryOption(this)") #{val}
                .table-responsive
                    table#basic-datatable.table.table-centered.w-100.dt-responsive.nowrap.table-hover
                        thead.table-light
                            tr
                                th.d-none 상품번호
                                th(style='width: 70px;') 상태
                                th 분류
                                th 상품
                                th 가격
                                th(style='width: 70px;') 수정/삭제
                        tbody
                            each product in products
                                - let status = product.status
                                - let price = product.price
                                - price = price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')
                                - let url = product.image_url
                                - let name = product.name
                                - let id = product.product_id

                                tr.product
                                    td.product-id.d-none #{id}
                                    td.product-status
                                        if status === '판매중'
                                            span.badge.badge-outline-primary.font-14 #{status}
                                        else if status === '품절'
                                            span.badge.badge-outline-danger.font-14 #{status}
                                        else if status === '삭제됨'
                                            span.badge.badge-outline-secondary.font-14 #{status}
                                    td.product-cateogry #{product.category}
                                    td.product-img
                                        img.rounded.me-3(title=name height="68" alt="상품 이미지" src=url)
                                        p.m-0.d-inline-block.align-middle.font-16 #{name}
                                    td.product-price #{price}원
                                    td.table-action
                                        button.btn(type='button' data-bs-toggle='modal' data-bs-target='#productUpdate-modal' onclick=`createProductUpdateModal()`)
                                            a.action-icon(href='javascript:void(0);')
                                                i.mdi.mdi-square-edit-outline
                                        button.btn(type='button' data-bs-toggle='modal' data-bs-target='#productRemove-modal' onclick=`createProductDeleteModal(${id})`)
                                            a.action-icon(href='javascript:void(0);')
                                                i.mdi.mdi-delete

// Modal
#productRemove-modal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="standard-modalLabel" aria-hidden="true" data-product-id="")
    .modal-dialog.modal-dialog-centered
        .modal-content
            .modal-header
                h5.modal-title 상품 제거
                button.btn-close(type='button' data-bs-dismiss='modal' aria-hidden='true')
            .modal-body
                | 상품을 정말 제거하시겠습니까?
            .modal-footer
                button.btn.btn-primary(type='button' onclick="deleteProduct()" data-bs-dismiss='modal') 확인
                button.btn.btn-light(type='button' data-bs-dismiss='modal') 취소
#productUpdate-modal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='standard-modalLabel' aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                h4#productUpdate-modalLabel.modal-title temp
                button.btn-close(type='button' data-bs-dismiss='modal' aria-hidden='true')
            .modal-body#productUpdate-modalBody
            .modal-footer#productUpdate-modalFooter
                button.btn.btn-primary(type='button') 확인
                button.btn.btn-light(type='button' data-bs-dismiss='modal') 취소